:root {
    --cor-primaria: #4e73df;
    --cor-secundaria: #2c3e50;
    --cor-texto: #ffffff;
    --cor-fundo: #f8f9fc;
    --cor-hover: #1d60b0;
    --cor-acento: #rgb(223, 205, 106);
    --cor-registro: # #ffd700;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--cor-secundaria);
    background: lightgrey;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    padding: 0 15px;
}
.viewSenha{
    width: 100%;
    height: 35px;
    background-color: #e2e2e2;
    border-radius: 10px;
    margin-bottom: 20px;
}
.viewSenha img{
    width: 6%;
    height: auto;
    
}


.login {
    border-radius: 15px;
    color: var(--cor-texto);
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: auto;
    max-height: 90vh;
    background-color: var(--cor-secundaria);
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.login h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.login label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: var(--cor-texto);
}

.login input,
.login select,
.login button {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    margin-bottom: 12px;
    padding: 0 10px;
    font-size: 0.9rem;
    border: 1px solid var(--cor-secundaria);
}

.login input,
.login select {
    background-color: #e2e2e2;
    color: var(--cor-secundaria);
}
.viewSenha input{
    width: 90%;
    border: 0;
    margin: 0;
}
.login button {
    background-color: var(--cor-hover);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 35px;
}

.login button:hover {
    background-color: var(--cor-primaria);
}

.error .alert {
    margin-bottom: 10px;
}

.login a {
    color: var(--cor-registro);
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
}

.login a:hover {
    color: var(--cor-hover);
}

@media (max-width: 768px) {
    .login {
        width: 80%;
    }

    .header h1 {
        font-size: 2.5rem;
    }

    .header p {
        font-size: 1rem;
    }
}
