<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Hóspede</title>
    <link rel="icon" href="../static/images/logo.png">
    <link rel="stylesheet" href="../static/add_quartos.css">
</head>
<body>
   <div class="container">
    <div class="head">
        <h1>Editar Hóspede</h1>
        
        <a href="{{ url_for('hospedes') }}">Voltar</a>
       </div>
         <p style="color: red;">{{flash}}</p>
        <form method="POST">
            <br>
            <input type="hidden" name="id" value="{{ hospede[0] }}">
    
            <label for="nome">Nome:</label>
            <input type="text" name="nome" value="{{ hospede[1] }}" required>
            
            <label for="cpf">CPF:</label>
            <input type="text" name="cpf" value="{{ hospede[2] }}" required>
            
            <label for="telefone">Telefone:</label>
            <input type="text" name="telefone" value="{{ hospede[3] }}">
            
            <label for="email">E-mail:</label>
            <input type="email" name="email" value="{{ hospede[4] }}" required>
    
            <button type="submit">Salvar Alterações</button>
        </form>
    
    
        <br>
        
   </div>
</body>
</html>
