<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    <link rel="icon" href="../static/images/logo.png">
    <link rel="icon" href="../static/images/logo.png">
    <link rel="stylesheet" href="../static/hos_reservas.css">
</head>
<body>
    <div class="menu">
        <a href="/index">Início</a>
        <a href="{{ url_for('hos_reservas') }}">Perfil</a>
        <a href="{{ url_for('quartos') }}">Quartos</a>
        <a href="/logout">Sair</a>

    </div>
    <div class="container">
        <div class="head">
            <h1>Lista pessoal de {{user_nome}}</h1>
    
        </div>
    


   

    <h2>Reservas Encontradas</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Quarto</th>
                <th>Check-In</th>
                <th>Check-Out</th>
                <th>Valor Total</th>
                <th>Situação</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% if reservas %}
                {% for reserva in reservas%}
                    <tr>
                        <td>{{ reserva[0] }}</td>
                        <td>{{ reserva[1] }}</td>
                        <td>{{ reserva[2] }}</td>
                        <td>{{ reserva[3] }}</td>
                        <td>{{ reserva[4] }}</td>
                        <td>{{ reserva[5] }}</td>
                        <td id="confirm">
                            <form  action="{{url_for('excluir_reserva', id=reserva[0])}}" method="post">
                                <button >Excluir</button>
                            </form>
                            
                        </td>
                {%endfor%}
                    </tr>
            {% else %}
                <tr>
                    <td colspan="6">Nenhuma reserva encontrada com os critérios fornecidos.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <br>
</body>
</html>
