<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrandHotel</title>
    <link rel="icon" href="../static/images/logo.png">
    <link rel="stylesheet" href="static/index.css">
</head>
<body>

    <div class="header">
        <h1>GrandHotel</h1>
        <p>Bem-vindo ao maior sistema de hoteis do mundo!</p>
    </div>

    <div class="menu">
        {%if barra%}
            <a href="{{ url_for('hospedes') }}">Hóspedes</a>
            <a href="{{ url_for('reservas') }}">Reservas</a>
        {%else%}
            <a href="{{ url_for('hos_reservas') }}">Perfil</a>
        {%endif%}
            <a href="{{ url_for('quartos') }}">Quartos</a>
            <a href="/logout">Sair</a>

    </div>
    <div class="imagem">
        
        <img src="../static/images/hotel.png" alt="">
    </div>
    <div style="height: 30px;"
     class="menu">
        <p>@GrandHotel</p>
    </div>
   

</body>
</html>