<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrandHotel</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>

    <div class="header">
        <h1>GrandHotel</h1>
        <p>Bem-vindo ao maior sistema de hoteis do mundo</p>
    </div>

    <div class="menu">
        <a href="{{ url_for('hospedes') }}">Hóspedes</a>
        <a href="{{ url_for('quartos') }}">Hospedagens</a>
        <a href="{{ url_for('reservas') }}">Reservas</a>

    </div>

   

</body>
</html>