<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="../static/images/logo.png">
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <div class="header">
        <h1>GrandHotel</h1>
        <p>Sua estadia, nossa prioridade</p>
    </div>
    
    <br><br>
    <div class="login">
        <h2>Faça seu login</h2>

    <form action="{{url_for('login')}}" method="POST">
        <div class="error">
            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    <div class="alert alert-dismissible fade show">
                                        {% for category, message in messages %}
                                            <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }}">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                {% endwith %}
        </div>
        
        
       
        <label for="email">Email:</label>
        <input type="email" name="email" id="email">
        
        
        <label for="senha">Senha:</label>
       <div class="viewSenha">
        <input type="password" name="senha" id="senha" required>
        <img onclick="viewSenha()" style="cursor: pointer" src="../static/images/olho.png">
       </div>
        
        <button>Enviar</button>
    </form>
    <p>Não tem conta? <a href="/register">Registre-se</a></p>
    </div>
</body>
<script>
    function viewSenha(){
  var tipo = document.getElementById("senha")
  if (tipo.type == "password") {
    tipo.type = "text";
  }else{
    tipo.type = "password";
  }
}
</script>
</html>