<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Quartos mais reservados</h1>
    <a href="{{ url_for('relatorios') }}">Voltar</a>
    <h3>10 quartos mais reservados:</h3>
    <table>
        <thead>
            <tr>
                 
                <th>Total de reservas</th>
                <th>Número do quarto</th>
            </tr>
        </thead>
        <tbody>
            {% for total in totais %}
            <tr> <br>
                <td>{{ total[1] }}</td> 
                <td>{{ total[0] }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>