<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../static/registro.css">
    <link rel="icon" href="../static/images/logo.png">
</head>
<body>
    <div class="login">
        <h2>Faça seu cadastro</h2>
    <form action="{{url_for('register')}}" method="post">
        <div class="error">
            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    <div class="alert alert-dismissible fade show">
                                        {% for category, message in messages %}
                                            <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }}">
                                                {{ message }}
                                            </div>
                                           
                                        {% endfor %}
                                    </div>
                                {% endif %}
                {% endwith %}
        </div>
        
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome">

        <label for="cpf">Cpf:</label>
        <input type="text" name="cpf" id="cpf"
        pattern="\d{3}\.?\d{3}\.?\d{3}-?\d{2}">

        <label for="telefone">Telefone:</label>
        <input type="tel" name="telefone" id="telefone">

        <label for="email">Email:</label>
        <input type="email" name="email" id="email">

        <label for="senha">Senha:</label>
        <div class="viewSenha">
        <input type="password" name="senha" id="senha" required>
        <img onclick="viewSenha()" style="cursor: pointer" src="../static/images/olho.png">
       </div>

        <button>Enviar</button>
    </form>
    <p>Já tem conta? <a class="faca_login" href="/">Faça seu login</a></p>
    </div>
</body>
<script>
    const senha = document.getElementById('senha');
        function validarSenhas() {
            let mensagemErro = '';
            if (senha.value.length < 8) {
                mensagemErro = 'A senha precisa ter pelo menos 8 caracteres!';
                senha.setCustomValidity(mensagemErro);
            } else {
                senha.setCustomValidity('');
            }
        }
        function viewSenha(){
  var tipo = document.getElementById("senha")
  if (tipo.type == "password") {
    tipo.type = "text";
  }else{
    tipo.type = "password";
  }
}
</script>
</html>